
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem;  }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

body {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #7782aa; }
  body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #167ce9; }
  a:hover {
    text-decoration: none;
    color: #167ce9; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: #39345a;
  font-weight: 400; }

.ftco-services .nav-pills .nav-link {
  float: left;
  border-radius: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 400;
  position: relative; }
  .ftco-services .nav-pills .nav-link:after {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fafafa transparent transparent;
    opacity: 0; }
  .ftco-services .nav-pills .nav-link span {
    font-size: 24px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.6); }
  .ftco-services .nav-pills .nav-link.active, .ftco-services .nav-pills .nav-link:hover {
    color: #fff;
    font-size: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: transparent;
    font-weight: 700; }
    .ftco-services .nav-pills .nav-link.active:after, .ftco-services .nav-pills .nav-link:hover:after {
      opacity: 1; }
    .ftco-services .nav-pills .nav-link.active span, .ftco-services .nav-pills .nav-link:hover span {
      color: #fff; }
    @media (max-width: 767.98px) {
      .ftco-services .nav-pills .nav-link.active:after, .ftco-services .nav-pills .nav-link:hover:after {
        opacity: 0; } }
  @media (max-width: 767.98px) {
    .ftco-services .nav-pills .nav-link {
      display: block;
      width: 100%; } }

.ftco-services .tab-content .tab-pane .icon {
  font-size: 100px;
  color: #167ce9;
  line-height: 1.2; }

.ftco-services .tab-content .tab-pane h2 {
  font-size: 28px; }

.ftco-section-2 {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 69px);
  overflow-x: hidden;
}

.services-wrap {
  display: block;
  width: 900px;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 1px;
  padding: 30px 40px 30px 50px; }
  .services-wrap:first-child {
    margin-top: 1px; }
  .services-wrap:after {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: rgba(255, 255, 255, 0.8); }
  .services-wrap h2 {
    color: #167ce9;
    font-size: 24px; }
  .services-wrap p {
    color: #7782aa;
    margin-bottom: 0; }
  .services-wrap .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px; }
    .services-wrap .icon span {
      font-size: 20px;
      color: #73b0f2; }
      .services-wrap .icon span:first-child {
        opacity: 0; }
      .services-wrap .icon span:last-child {
        opacity: 1; }
  .services-wrap:hover {
    margin-left: -100px; }
    .services-wrap:hover .icon span:first-child {
      opacity: 1;
      margin-left: 5px; }
    .services-wrap:hover .icon span:last-child {
      opacity: 0; }

.dept {
  width: 100%;
  display: block;
  margin-bottom: 30px; }
  .dept .img {
    width: 45%; }
    @media (max-width: 767.98px) {
      .dept .img {
        width: 100%;
        height: 250px;
        display: block; } }
  .dept .text {
    width: 55%;
    bordeR: 1px solid #d0e5fb;
    border-left: 1px solid transparent; }
    @media (max-width: 767.98px) {
      .dept .text {
        width: 100%;
        display: block;
        bordeR: 1px solid #d0e5fb;
        border-top: 1px solid transparent; } }
    .dept .text h3 {
      margin-bottom: 0; }
    .dept .text .doc {
      padding: 4px 10px;
      background: #167ce9;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #fff; }
    .dept .text ul {
      margin: 0;
      padding: 0; }
      .dept .text ul li {
        list-style: none;
        color: #167ce9;
        position: relative;
        padding-left: 24px; }
        .dept .text ul li span {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0; }
          .dept .text ul li span:before {
            color: #167ce9;
            font-size: 24px; }

#accordion .card {
  margin-bottom: 5px;
  border: 1px solid #d0e5fb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  #accordion .card .card-header {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    #accordion .card .card-header a {
      padding: 12px 20px;
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: #39345a; }
      #accordion .card .card-header a span {
        float: right; }
        #accordion .card .card-header a span i {
          color: #a2cbf6; }
      #accordion .card .card-header a small {
        padding: 4px 10px;
        margin-left: 10px;
        background: #d0e5fb;
        color: #167ce9;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px; }

#accordion .card-body {
  border: 1px solid transparent; }

#accordion [aria-expanded="false"] > .expanded, #accordion [aria-expanded="true"] > .collapsed {
  display: none; }




.ftco-animate p {
  font-size: 18px;
  color: #737372;
}




.heading-section .subheading {
  font-size: 14px;
  display: block;
  margin-bottom: 10px; }

.heading-section h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9); }

.heading-section.heading-section-white h2 {
  font-size: 30px;
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.hotel-img,
.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (max-width: 767.98px) {
  .ftco-section-2 .section-2-blocks-wrapper {
    margin-top: 30px; } }

.ftco-section-2 .section-2-blocks-wrapper .button {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: -50px;
  border-radius: 50%;
  background: #167ce9;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite; }
  @media (max-width: 991.98px) {
    .ftco-section-2 .section-2-blocks-wrapper .button {
      top: auto;
      bottom: 0 !important;
      margin-right: auto;
      right: auto;
      left: 50%;
      margin-bottom: -50px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
  .ftco-section-2 .section-2-blocks-wrapper .button span {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%, -48%);
    -ms-transform: translate(-30%, -48%);
    transform: translate(-30%, -48%); }

.ftco-section-2 .section-2-blocks-wrapper .text {
  position: relative;
  z-index: -1;
  padding: 15px; }
  @media (min-width: 768px) {
    .ftco-section-2 .section-2-blocks-wrapper .text {
      padding: 10% 7%;
      background: rgba(0, 0, 0, 0.02); } }
  @media (max-width: 767.98px) {
    .ftco-section-2 .section-2-blocks-wrapper .text {
      margin-top: 4em; } }
  .ftco-section-2 .section-2-blocks-wrapper .text h3 {
    margin-bottom: 50px; }

.ftco-section-2 .section-2-blocks-wrapper .img {
  display: block;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 991.98px) {
    .ftco-section-2 .section-2-blocks-wrapper .img {
      height: 400px; } }
