.dropzone {
    /* background-image: url("../img/index.png"); */
    background-position: center;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 50%;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone .dz-preview.dz-image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 3px 1px #00000038;
    padding: 1rem;
}

.dz-message {
	font-size: 22px;
	font-weight: 600;
	color: #5c5b5a;
	text-align: center;
	font-family: Open Sans;
}
.upload_title h1 {
    font-size: 40px;
    font-family: Open Sans;
    color: #0051d2;
}
.upload_title p {
    font-size: 23px;
    font-family: Open Sans;
    color: #5c5b5a;
    font-weight: 600;
}
